<link rel="stylesheet" href="/css/style_masc_fem.css">
<link rel="stylesheet" href="/css/stylemasc.css">
<script src="/js/itens_carrinho.js" defer></script>

<h1 class="titulo-masc">Moda Masculina</h1>
<ul class="produto">
    <li>
        <div class="showcase">
            <div class="show_shoe">
        <p class="sap-mas">Camisa Barcelona</p>
        <img class="teste" src="/img/fem barcelona_resized.jpg" alt="camisa" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">R$150.00</span></p>
        <button class="adicionar-ao-carrinho" data-nome="camisa barcelona feminino" data-preco="150.00" data-qtde="1" cod-prod="1">Adicionar ao Carrinho</button>
        <div>
    </li>
    <li>
        <div class="showcase">
            <div class="show_shoe">
        <p class="sap-mas">Camisa Chelsea</p>
        <img src="/img/fem chelsea_resized.jpg" alt="camisa" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">R$155.50</span></p>
        <button class="adicionar-ao-carrinho" data-nome="camisa chelsea feminino" data-preco="155.50" data-qtde="1" cod-prod="2">Adicionar ao Carrinho</button>
        <div>
    </li>
          <li>
        <div class="showcase">
            <div class="show_shoe">
        <p class="sap-mas">Camisa Napoli</p>
        <img src="/img/fem napoli_resized.jpg" alt="camisa" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">R$165.95</span></p>
        <button class="adicionar-ao-carrinho" data-nome="camisa chelsea masculino" data-preco="195.95" data-qtde="1" cod-prod="2">Adicionar ao Carrinho</button>
        <div>
    </li>  <!-- Outros produtos aqui -->
</ul>