<link rel="stylesheet" href="/css/style_masc_fem.css">
<script src="/js/itens_carrinho.js" defer></script>

<h1 class="titulo-masc">Moda Feminina</h1>
<ul class="produto">
    <li>
        <p class="sap-mas">Sapato Casual</p>
        <img src="/img/001_casual.jpg" alt="sapato casual" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">229.90</span></p>
        <button class="adicionar-ao-carrinho" data-nome="Sapato Casual" data-preco="229.90" data-qtde="1" cod-prod="6">Adicionar ao Carrinho</button>
    </li>
    <li>
        <p class="sap-mas">Sapato Casual</p>
        <img src="/img/001_casual.jpg" alt="sapato casual" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">199.90</span></p>
        <button class="adicionar-ao-carrinho" data-nome="Sapato Casual" data-preco="199.90" data-qtde="1" cod-prod="7">Adicionar ao Carrinho</button>
    </li>
            <!-- Outros produtos aqui -->
</ul>
