<br>
<nav>
    <a href="/cadastrarCamisa">Cadastrar Produto</a>&emsp;
    <a href="/listarCamisa">Listar Produto</a>&emsp;
    <a href="/editarCamisa">Editar Produto</a>&emsp;
    <a href="/excluirCamisa">Excluir Produto</a>
</nav>
<br><br>
{{#if msg}}
    <p>{{msg}}</p>
{{/if}} 