<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/public/img/trophy_resized.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style_index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
</head>
<body>
    <main>
        <h1>Camisas</h1>
        <div class="conteudo">
            <img src="/img/taça_compressed_resized.jpg" alt="Chelsea Campeão">
            <p class="texto">Os primeiros uniformes de futebol surgiram por volta de 1870 na Inglaterra, país de origem do esporte, e começaram a ser usados durante o Campeonato Inglês para diferenciar os jogadores dos dois times em campo.</p>
        </div>
           
        <div class="conteudo">
           
            <p class="texto">
                Nos primórdios do futebol, o material utilizado era o algodão, com esse uniforme, os jogadores se desgastavam muito, com isso, o material foi substituído por uma malha de algodão, equipamento mais leve que permitia aos jogadores terem um uniforme mais leve.</p> <img src="/img/win_resized_compressed.jpg" alt="Barcelona Vitória">

</div>


            

        
    </main>
    <footer>
        <div class="horario">
            <p>Horário: Segunda e Sexta das 8h:30 ás 23h<br>Sábado das 8h:30 às 21h
            </p>

        
        </div>
        <div class="right">
            <p>
                Camisas Cia. Ltda. &copy;
            </p>
        </div>
        <div class="adress">
           <p> Av Nereu Ramos, número 555 <br>camisasdetimes@gmail.com</p>
        </div>
    </footer>

    
</body>
</html>