<link rel="stylesheet" href="/css/style_masc_fem.css">
<script src="/js/itens_carrinho.js" defer></script>

<h1 class="titulo-masc">Moda Masculina</h1>
<ul class="produto">
    <li>
        <div class="showcase">
            <div class="show_shoe">
        <p class="sap-mas">Barcelona</p>
        <img class="teste" src="/public/img/camisa barcelona_resized.jpg" alt="camisa" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">175.95</span></p>
        <button class="adicionar-ao-carrinho" data-nome="sapato bico redondo" data-preco="175.95" data-qtde="1" cod-prod="1">Adicionar ao Carrinho</button>
        <div>
    </li>
    <li>
        <p class="sap-mas">sapato bico fino</p>
        <img src="/img/02_casual.jpg" alt="sapato casual" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">195.95</span></p>
        <button class="adicionar-ao-carrinho" data-nome="sapato bico fino" data-preco="195.95" data-qtde="1" cod-prod="2">Adicionar ao Carrinho</button>
    </li>
            <!-- Outros produtos aqui -->
</ul>
