<link rel="stylesheet" href="/css/style_masc_fem.css">
<link rel="stylesheet" href="/css/stylemasc.css">
<script src="/js/itens_carrinho.js" defer></script>

<h1 class="titulo-masc">Moda Masculina</h1>
<ul class="produto">
    <li>
        <div class="showcase">
            <div class="show_shoe">
        <p class="sap-mas">Camisa Barcelona</p>
        <img class="teste" src="/img/camisa barcelona_resized.jpg" alt="camisa" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">R$175.95</span></p>
        <button class="adicionar-ao-carrinho" data-nome="sapato bico redondo" data-preco="175.95" data-qtde="1" cod-prod="1">Adicionar ao Carrinho</button>
        <div>
    </li>
    <li>
        <div class="showcase">
            <div class="show_shoe">
        <p class="sap-mas">Camisa Chelsea</p>
        <img src="/img/camisa chelsea_resized_compressed.jpg" alt="camisa" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">R$195.95</span></p>
        <button class="adicionar-ao-carrinho" data-nome="sapato bico fino" data-preco="195.95" data-qtde="1" cod-prod="2">Adicionar ao Carrinho</button>
        <div>
    </li>
            <!-- Outros produtos aqui -->
</ul>
