body{
    background-image: linear-gradient(#009527,#1bb35f);
    font-size: 1.1rem;
    color: black;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.cabecalho img:hover{
    cursor: pointer;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
    margin-left: 24px;
}
nav a:hover{
    background-color: grey;
    transition: 1.0s;
    opacity: 0.7;
    cursor: pointer;
    color: black;
}
nav a:visited{
    color: black;
}
h1{
    font-size: 2rem;
}
table,th,td{
    border-collapse: collapse;
    border: 2px solid white;
    align-items: center;
    margin: auto;
}
th{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0px 4px;
}
td{
    color: white;
    text-align: center;
    font-size: 1.1rem;
    padding: 0px 4px;
}
button,input, label{
    color:black;
    display: block;
    margin: 0 auto;
    text-align: center;
}